.List1, .List2, .List3, .List4, .List5, .List6{
    margin-top: 15px;
    display: flex;
    justify-content: center;     
    width: 100%;                   
    text-align: center; 
    font-weight: bold;
    font-size: 20px;
    align-items: center;    
}
.loginBtn {
    margin-right: 20px;
}
.signupBtn {
    padding-right: 165px;
}
.loginBtn,.signupBtn {
text-decoration: none;
color: black;
}

.headerTop {
    text-align: right;
    margin-bottom: 10px;
    border-bottom: 2px solid #e0e0e0; 
    padding-bottom: 10px;
    align-items: center;
}

.Link{
    position: relative;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    white-space: nowrap; 
}

.Link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #F9D61E;
    bottom: -2px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.Link:hover::after {
    transform: scaleX(1);
}

.headerLogo {
    width: 100px;
}

.headerBottom{
    display: flex;
    justify-content: space-between;           
    margin: 0 auto;
    width: 1260px;
    
}
