.chatbot_wrapper {
  display: flex;
  flex-direction: column;
}
.mainbody{
  display: flex;
  height: 100%;
  border-top: 1px solid rgb(190, 190, 190);
  height: 89vh;
}

.leftbody{
  display: flex;
  flex: 1;
  width: 10%;
  background-color: #f1efe7;
}
.rightbody{
  display: flex;
  flex: 1;
  background-color: #f1efe7;
}

.chatbot_container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.chat_history {
  height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user_message {
  align-self: flex-end;
  background-color: #daf8e3;
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
  text-align: right;
}

.bot_message {
  align-self: flex-start;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
  text-align: left;
}

.loading_message {
  align-self: flex-start;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
  text-align: left;
  font-style: italic;
  color: #aaa;
}

.input_container {
  display: flex;
  position: fixed;
  right: 20%;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
  height: 140px;
  border-radius: 15px;
  outline: none;
  border: none;
}

.input_container form{
  gap: 10px;
  display: flex;
  width: 100%;
}

.input {
  display: flex;
  flex: 1;
  padding: 10px;
  border-radius: 15px;
  background-color: #f1efe7;
  outline: none;
  border: none;
  text-align: left;
}

.input::placeholder{
  font-size: 1.2em;
  font-style: italic;
  text-align: left;
}

.input:focus{
  outline: none;
  border: none;
}

.button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
