.chatbot_wrapper {
  display: flex;
  flex-direction: column;
}
.mainbody{
  display: flex;
  height: 100%;
  
}

.leftbody{
  display: flex;
  flex: 1;
  width: 10%;
  background-color: black;
}
.rightbody{
  display: flex;
  flex: 1;
  background-color: black;
}

.chatbot_container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.chat_history {
  height: 400px;
  overflow-y: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user_message {
  align-self: flex-end;
  background-color: #daf8e3;
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
  text-align: right;
}

.bot_message {
  align-self: flex-start;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
  text-align: left;
}

.loading_message {
  align-self: flex-start;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
  text-align: left;
  font-style: italic;
  color: #aaa;
}

.input_container {
  display: flex;
  justify-content: center;
  gap: 10px;
  
}

.input_container form{
  gap: 10px;
  display: flex;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
