@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=IBM+Plex+Sans+KR&family=Nanum+Pen+Script&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 8vh; 
    flex-wrap: nowrap;
    overflow: hidden;
    padding-top: 10px;
    margin-bottom: 28px;
}
.leftheader{
    margin-left: 4vw;
}

.rightheader{
    margin-left: 4vw;
}

.header_a {
    text-decoration: none;
    color: black;
    font-family: "Roboto Condensed";
    font-size: clamp(20px, 3vw, 55px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.nav_a{
    text-decoration: none;
    color: #000;
    font-family: Inter;
    font-size: clamp(14px, 1.5vw, 30px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
    position: relative;
    transition: color 0.3s ease;
}

.nav_ul{
    display: flex;
    gap: 5vw;
}


.nav_li {
    list-style: none;
}

.nav_li.active .nav_a {
    position: relative;
}

.nav_li.active .nav_a::after {
    content: '';
    position: absolute;
    bottom: -5px; 
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ffe262;
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out; 
    
}

.nav_a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: transparent;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
}

.nav_li:hover .nav_a::after {
    background-color: #ffe262;
    transform: scaleX(1); 
}

.account{
    display: flex;
    width: 100px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.account_button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-size: clamp(14px, 1.5vw, 30px);
}

@media (max-width:650px){
    .nav_ul { 
        display: grid; 
        grid-template-columns: repeat(3, 1fr);  
        gap: 10px;  
        justify-items: center;  
    } 
    .nav_li { 
        width: 100%;
    } 
    .nav_a { 
        text-align: center;
        font-size: small;
    }
}