@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=IBM+Plex+Sans+KR&family=Nanum+Pen+Script&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 8vh; 
    flex-wrap: nowrap;
    overflow: hidden;
}

.leftheader{
    margin-left: 6vw;
}

.rightheader{
    margin-left: 7vw;
}

.header_a {
    text-decoration: none;
    color: black;
    font-family: "Roboto Condensed";
    font-size: clamp(20px, 3vw, 55px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.nav_a{
    text-decoration: none;
    color: #000;
    font-family: Inter;
    font-size: clamp(14px, 1.5vw, 30px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
}

.nav_ul{
    display: flex;
    gap: 5vw;
}


.nav_li {
    list-style: none;
}

