@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=IBM+Plex+Sans+KR&family=Nanum+Pen+Script&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;   
}


.maincontent{
    width: 100%;
    height: 100vh; 
    background-size: cover;
    background-position: center;
    margin-top: 28px;
}

.welcome{
    position: absolute;
    margin-top: 20vh;
    margin-left: -100%; 
    animation: slideIn 0.7s ease-out forwards; 
    
}

.welcome_p{
    color: #FFF;
    font-family: Roboto;
    font-size: 4vw;
    font-style: normal;
    font-weight: 600;   
    line-height: normal;
}

.beeCareful{
    font-size: 6vw;
}

.loginbox{
    position: fixed;
    width: 350px;
    height: auto;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.75);
    top: 120%;
    left: 80%;
    transform: translate(-50%, 0);
    animation: bounceIn 2s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards; 
}

.loginbox_title{
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 33px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 50px;
}

.loginbox_body{
    color: #555;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
}

.loginbox_button{
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    justify-content: center;
}

.login, .signup{
    color: black;
    width: 120px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FBC93E;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s ease;
    border: none;
    font-weight: normal;
    
}

.login:hover, .signup:hover {
    background: #e6b731;
}



/* 로그 아웃 버튼 */
.logout {
    background-color: #ff6b6b; /* 로그아웃 버튼 배경색 */
    color: white; /* 텍스트 색상 */
    border: none; /* 테두리 제거 */
    border-radius: 5px; /* 둥근 테두리 */
    padding: 10px 20px; /* 버튼 크기 */
    cursor: pointer; /* 마우스 포인터 */
    font-size: 14px; /* 폰트 크기 */
    transition: background-color 0.3s ease; /* 부드러운 색상 전환 */
}

.logout:hover {
    background-color: #e63939; /* 호버 효과 */
}

.logout:active {
    background-color: #cc2c2c; /* 클릭 효과 */
}

.popup_title{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: 30px;
    background: linear-gradient(90deg, #6a11cb, #2575fc);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
.signupBtnInsidePopup{
    /* margin-top: 10px; */
    /* font-size: small; */
    color: #2575fc;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.signupSection {
display: flex;
font-size: 15px;
margin-bottom: 10px;
gap: 10px;
}

@keyframes slideIn {
    0% {
        margin-left: -100%;
    }
    100% {
        margin-left: 10vw;
    }
}

@keyframes bounceIn {
    0% {
        top: 120%; /* 시작 위치 */
        opacity: 0;
    }
    60% {
        top: 40%; /* 최종 위치로 올라옴 */
        opacity: 1;
    }
    100% {
        top: 40%; /* 최종 위치 */
    }
}

@media (max-width:650px){
    .welcome{
        position: absolute; 
        margin-top: 10vh;
        margin-left: -100%; 
        animation: slideIn 0.7s ease-out forwards; 
    }

    .loginbox{
        position: fixed;
        width: 350px;
        height: auto;
        border-radius: 20px;
        background: rgba(255, 255, 255, 0.75);
        left: 50%;
    }
}