@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=IBM+Plex+Sans+KR&family=Nanum+Pen+Script&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;   
}


.maincontent{
    width: 100%;
    height: 100vh; 
    background-size: cover;
    background-position: center;
    margin-top: 28px;
}

.welcome{
    position: absolute;
    margin-top: 20vh;
    margin-left: 10vw;
}

.welcome_p{
    color: #FFF;
    font-family: Roboto;
    font-size: 4vw;
    font-style: normal;
    font-weight: 600;   
    line-height: normal;
}

.beeCareful{
    font-size: 6vw;
}

.loginbox{
    position: fixed;
    background-color: #f1ede6;
    width: 450px;
    height: auto;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.75);
    top: 65%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.loginbox_title{
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 68px;
}

.loginbox_body{
    color: #555;
    text-align: center;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 30px;
}

.loginbox_button{
    display: flex;
    gap: 38px;
    padding-bottom: 20px;
    justify-content: center;
}

.login, .signup{
    width: 150px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FBC93E;
    margin-top: 30px;
    text-align: center;
    line-height: 72px;
    cursor: pointer;
    transition: background 0.3s ease;
    border: none;
    
}

.login:hover, .signup:hover {
    background: #e6b731;
}