/* 팝업 오버레이 */
.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* 다른 요소 위에 표시 */
  }
  
  /* 팝업 콘텐츠 */
  .popupContent {
    background: whitesmoke;
    width: 340px; /* 가로 크기 */
    height: 360px;
    /* height: auto; 높이는 내용에 맞게 자동 조정 */
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    z-index: 1001; /* 오버레이 위로 표시 */
  }
  
  /* 닫기 버튼 */
  .closeBtn {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #555;
    cursor: pointer;
  }
  
  .closeBtn:hover {
    color: #ff0000;
  }
  
  /* 로그인 폼 */
  .log-wrapper .login-form {
    display: flex;
    flex-direction: column; /* 세로 배치 */
     /* 입력 필드와 버튼 간의 간격 */
    width: 100%;
    align-items: center;
    margin-top: 20%;
    margin-bottom: 10%;
  }

  .login-form button {
    margin-top: 15%;

  }
  /* 레이블 및 입력 필드 */
  .log-wrapper .login-form label {
    display: flex;
    flex-direction: column; /* 텍스트와 입력 필드를 세로로 배치 */
    font-size: 16px;
    color: #333;
    width:100%; /* 입력 필드 너비 */
    text-align: left;
    margin-bottom: 3px; 
  }
  
  .log-wrapper .login-form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .log-wrapper .login-form input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  /* 버튼 */
  .log-wrapper .login-form button {
    padding: 12px;
    background: linear-gradient(90deg, #007bff, #b3a1d4);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 버튼 그림자 */
}

.log-wrapper .login-form button:hover {
    background: linear-gradient(90deg, #bb00ff, #a1aed4);
    transform: scale(1.05); /* 살짝 커지는 효과 */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* 강조된 그림자 */
}