.body{
    width: 100%;
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid grey;
    gap: 50px;
    background-color: #fdfbee;
}

.top h2 {
    font-size: 100px;
    font-weight: bold;
    background: linear-gradient(90deg, #ffffff, #ffdd00, #000000); 
    background-size: 300% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: wave 5s infinite linear; 
    align-items: center;
    display: flex;
    text-align: center;
}

.middle{
    display: flex;
    text-align: center;
}

.middle p{
    font-size: 30px;
}

@keyframes wave {
    0% {
        background-position: 0% 50%; 
    }
    100% {
        background-position: 100% 50%; 
    }
}


