.Rog{
    background-color: #F1F6F4;
    display: flex;
    height: 100vh;
}

.rogbox{
    display: flex; 
    width: 60%; 
    margin: 50px auto; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    height: 80vh;
}

.leftrog{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: white;
    align-items: center;
}

.leftrog_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
}

.body{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 380px;
    width: 100%;
    padding-top: 15px;
    margin-top: 15px;
    border-top: 1px solid grey;
}

.label {
display: flex;
flex-direction: column;
font-size: 16px;
color: #333;
font-weight: 500;
margin-bottom: 10px;
}

.label input {
padding: 10px;
font-size: 14px;
border: 1px solid #ccc; 
border-radius: 5px;
margin-top: 5px;
outline: none;
transition: border-color 0.3s ease-in-out;
}

.label input:focus {
border-color: #007bff;
box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

.label input::placeholder {
color: #aaa;
}

.button{
 display: flex;
 justify-content: center;
 flex-direction: column;
 height: 100%; 
 align-items: center;
}

.button button{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; 
    max-width: 100px;
}

.button p{
    font-weight: normal;
    font-size: 15px;
    padding-top: 5px;
    color: rgb(255, 75, 75);
}

.button button:hover {
    background-color: #0056b3; 
    transform: scale(1.05); 
  }
  
  .button button:active {
    background-color: #003f7f; 
    transform: scale(0.95); 
  }

.rightrog {
    display: flex;
    flex: 0.6; 
    background-color: #fff;
    align-items: center;
    justify-content: center;
}
.rightrog img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

@media (max-width:768px){
    .Rog {
        flex-direction: column;
        height: auto;
      }
    
      .rogbox {
        flex-direction: column;
        width: 90%;
        height: auto;
        margin: 20px auto;
        box-shadow: none;
        border: none;
      }
    
      .leftrog {
        flex: none;
        width: 100%;
        padding: 20px;
        align-items: center;
      }
    
      .leftrog_title h1 {
        font-size: 1.5rem;
        text-align: center;
      }
    
      .signup {
        font-size: 1.2rem;
      }
    
      .body {
        gap: 10px;
        max-width: 100%;
        padding: 0;
        margin-top: 10px;
        border-top: none;
      }
    
      .label input {
        padding: 8px;
        font-size: 14px;
      }
    
      .button {
        height: auto;
        padding-top: 20px;
      }
    
      .button button {
        max-width: 100%;
        font-size: 14px;
      }
    
      .rightrog {
        display: none; 
      }
}