.Screen {
    display: flex; 
    height: 88vh;
    background-color: #F1EFE7;
  }
  
  .leftbody {
    flex: 1; 
    height: auto; 
    padding-top: 7rem;
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
  }
  
  .header{
    font-weight: bold;
    font-size: 30px;
  }
  
  .title{
    font-weight: bolder;
    font-size: 50px;
  }

  .article{
    font-weight: normal;
    font-size: 25px;
  }



  .rightbody {
    flex: 1; 
    height: auto;
    padding-top: 7rem;
    padding-left: 5rem;
    text-align: center;
    
  }

  .image {
    width: auto; 
    height: auto; 
    max-width: 600px;
    max-height: 400px;
    object-fit: cover;
  }

  .more_button{
    background-color: #ffe262;
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    transition: all 0.3s ease;
    border: none;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    overflow: hidden;
    }

    .more_button:hover {
        background-color: #ffd700; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
        transform: scale(1.05); 
    }

    .more_button:active {
        transform: scale(0.95); 
        background-color: #ffc107; 
    }


    .navbar {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%); 
    }
    
    .navbutton {
      background: none;
      border: none;
      cursor: pointer;
      padding: 10px;
      margin: 0 5px;
    }
    
    .navbutton .dot {
      width: 10px;
      height: 10px;
      background-color: rgb(0, 0, 0);
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.3s ease;
    }
    
    .navbutton.active .dot {
      background-color: rgb(254, 0, 0);
    }

    @media (max-width:1000px){
      .Screen {
        flex-direction: column;
        padding: 1rem;
        width: 100%;
      }
    
      .leftbody {
        padding-top: 2rem;
        padding-left: 1rem;
        gap: 10px;
      }
    
      .header {
        font-size: 20px;
      }
    
      .subheader {
        font-size: 18px;
      }
    
      .title {
        font-size: 30px;
      }
    
      .article {
        font-size: 16px;
      }
    
      .rightbody {
        padding-top: 1rem;
        padding-left: 0;
        text-align: center;
      }
    
      .image {
        max-width: 100%;
        max-height: 200px;
      }
    
      .more_button {
        width: 120px;
        height: 40px;
        font-size: 16px;
      }
    
      .navbar {
        bottom: 1%;
      }
    
      .navbutton .dot {
        width: 8px;
        height: 8px;
      }
    }