.main{
    display: flex;
    height: 88vh;
    background-color: #F1EFE7;
    flex-direction: column;
}

.top_box{
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    height: 100px;
}

.top_img{
    max-width: 60px;
    max-height: 60px;
}

.body{
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.leftbody{
    display: flex;
    flex-direction: column;
}

.upbox{
    display: flex;
    gap: 20px;
    position: relative;
}

.downbox{
    display: flex;
    gap: 20px;
}