.container {
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  background: #EEEEEE;
  min-height: 100vh;
  padding: 50px;
  box-sizing: border-box;
}

/* 첫 번째 폼 컨테이너 */
.firstFormContainer {
  background: #E0DED3;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; 
}

.titleSection {
  display: flex;
  flex-direction: row;
  gap: 10px;
  
}

.titleInput {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border: 2px solid #000;
  border-radius: 10px;
}

.divider {
  border-bottom: 1px solid #484848;
  margin: 15px 0;
}

.metaSection {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.metaBox {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  flex-direction: row;
}

.labelBox {
  background: #FFFFFF;
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
  border: 2px solid #000;
  border-radius: 10px;
  display: flex; /* 플렉스 박스 활성화 */
  align-items: center; /* 세로 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
  flex-direction: row; /* 가로 배치 */
  text-align: center;
  min-width: 95px; /* 고정된 최소 너비 */
  box-sizing: border-box;
}

.metaLeft,
.metaRight {
  width: 49%;
}

.metaLabel {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.metaInput {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #000;
  border-radius: 10px;
}

.metaInputDisabled {
  background: #f9f9f9;
  color: #aaa;
}

/* 두 번째 폼 컨테이너 */
.secondFormContainer {
  background: #E0DED3;
  height: 400px;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

.quillContainer {
  height: 350px;
  border: 2px solid #000;
  border-radius: 10px;
  overflow-y: scroll; 
  scrollbar-width: none;
}

/* ReactQuill 내부 컨테이너 */
.ql-container {
  border: none !important; /* ReactQuill 기본 테두리 제거 */
  padding: 0 !important; /* 여백 제거 */
  background: #F5F5F5; /* 내부 배경색 설정 */
  border-radius: 10px; /* 둥근 모서리 */
  min-height: 200px; /* 높이 설정 */
}

/* 작성 버튼 */
.submitSection {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.submitButton {
  padding: 10px 20px;
  font-size: 16px;
  background: #5C5C5C;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.submitButton:hover {
  background: #0056b3;
}

@media (max-width: 1000px){
  .metaSection{
    display: flex;
    flex-direction: column;
  }
}